<input type="text" id="searchText" name="searchText" autofocus=true />
        
<div id="viewerOptions">
    <ul>
        <li id="buttonPreview" class="buttonViewer" selected>Preview</li>
    </ul>
</div>

<button id="backToRoot">R O O T</button>
<div id="searchResults" class="searchResults"></div>

<div id="treeview" class="treeview"></div>
<div id="preview" class="rubrics"></div>
        
<script>
    $('#backToRoot').hide();
    $('#searchResults').hide();
    $('#buttonPreview').focus();
</script>

